{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<h1><i class="fa fa-list"></i> 事件详情</h1>{% endblock %}
{% block crumb-items %}
    <li class="breadcrumb-item">我的事件</li>
{% endblock %}

{% block content %}

         <form class="form-horizontal" action="{% url 'operation:close_order' current_order.id %}" method="post" autocomplete="off">
          <div class="row">
           <div class="col-md-12">
          <div class="tile">
            <div class="row">
               <div class="col-lg-5 ">
                   <div class="form-group row">
                       <p name="order_id" hidden>{{ current_order.id }}</p>
                    <label class="col-lg-3 control-label">工号</label>
                      <div class="col-lg-9">
                            <input class="form-control" name="ID" id="ID" type="text" placeholder="输入工号" value="{{ current_order.employee_id }}" disabled="disabled">
                      </div>
                  </div>
                   <div class="form-group row">
                    <label for="company" class="col-lg-3 control-label">公司</label>
                       <div class="col-lg-9">
                       <input class="form-control" id="company_hide" type="text" placeholder="Disabled input here..." disabled="disabled" value="{{ current_order.company.name }}">
                       </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-lg-3 control-label">员工</label>
                      <div class="col-lg-9">
                      <input class="form-control" id="employee_name" type="text" placeholder="Disabled input here..." disabled="disabled" value="{{ current_order.customer.name }}" >
                      </div>
                  </div>
                    <div class="form-group row">
                    <label class="col-lg-3 control-label">联系方式</label>
                      <div class="col-lg-9">
                            <input class="form-control" id="phone" type="text" placeholder="Disabled input here..." disabled="disabled" value="{{ current_order.phone }}">
                      </div>
                  </div>
                    <div class="form-group row">
                    <label for="category" class="col-lg-3 control-label">故障类型</label>
                       <div class="col-lg-9">
                        <select class="form-control" id="category" name="category" {% if current_order.done %} disabled="disabled" {% endif %}>
                            {% for category in all_category %}
                                {% if category.case_type == current_order.category.case_type %}
                                <option value="{{ category.id }}" selected="selected">{{ category.case_type }}</option>
                                {% else %}
                                <option value="{{ category.id }}">{{ category.case_type }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                       </div>
                  </div>
                    <div class="form-group row">
                    <label for="priority" class="col-lg-3 control-label">优先级</label>
                       <div class="col-lg-9">
                        <select class="form-control" id="priority" name="priority" {% if current_order.done %} disabled="disabled" {% endif %}>
                            {% for priority in priorities %}
                                {% if priority.priority == current_order.priority.priority %}
                                <option value="{{ priority.id }}" selected="selected">{{ priority.priority }}</option>
                                {% else %}
                                <option value="{{ priority.id }}">{{ priority.priority }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                       </div>
                  </div>
                    <div class="form-group row">
                    <label for="statue" class="col-lg-3 control-label">状态</label>
                       <div class="col-lg-9">
                        <select class="form-control" id="statue" name="statue" {% if current_order.done %} disabled="disabled" {% endif %}>
                            {% for statue in statues %}
                                {% if statue.status == current_order.statue.status %}
                                <option value="{{ statue.id }}" selected="selected">{{ statue.status }}</option>
                                    {% else %}
                                    <option value="{{ statue.id }}">{{ statue.status }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                       </div>
                  </div>
                     <div class="form-group row">
                    <label for="receiver" class="col-lg-3 control-label">指派给</label>
                       <div class="col-lg-9">
                        <select class="form-control" id="receiver" name="receiver" {% if current_order.done %} disabled="disabled" {% endif %}>
                            {% for receiver in all_receiver %}
                                {% if receiver.name == current_order.assigned_to.name %}
                                <option value="{{ receiver.id }}" selected="selected">{{ receiver.name }}</option>
                                    {% else %}
                                    <option value="{{ receiver.id }}">{{ receiver.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                       </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleSelect1" class="col-lg-3 control-label">添加附件</label>
                       <div class="col-lg-9">
                    <input class="form-control-file" id="exampleInputFile" type="file" aria-describedby="fileHelp"><small class="form-text text-muted" id="fileHelp">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                  </div>
              </div>
              <div class="col-lg-6 offset-lg-1">
                  <div class="form-group row">
                    <label class="col-lg-2 control-label">标题</label>
                      <div class="col-lg-8">
                      <input class="form-control" name="title" id="title" type="text" placeholder="Disabled input here..." disabled="disabled" value="{{ current_order.title }}">
                      </div>
                  </div>
                  <div class="form-group row">
                  <label class="control-label col-md-2">描述</label>
                  <div class="col-md-8">
                    <textarea class="form-control" rows="6" name="description" placeholder="Enter your address" disabled="disabled">{{ current_order.description }}</textarea>
                  </div>
                </div>
                  <div class="form-group row">
                  <label class="control-label col-md-2">备注</label>
                  <div class="col-md-8">
                    <textarea class="form-control" rows="4" name="remark" placeholder="Enter your address" disabled="disabled">{{ current_order.comment }}</textarea>
                  </div>
                </div>
                  <div class="form-group row">
                  <label class="control-label col-md-2">添加更新</label>
                  <div class="col-md-8">
                    <textarea class="form-control" rows="4" name="remark" id="remark" placeholder="Enter your address" {% if current_order.done %} disabled="disabled" {% endif %}></textarea>
                  </div>
                </div>
                  <div class="form-group row">
                  <div class="col-lg-1 offset-lg-2">
                      <button class="btn btn-primary mr-2 mb-2" type="button" id="add_comment" {% if current_order.done %} hidden="hidden" {% endif %}>添加</button>
                  </div>
                  </div>
              </div>
               {% if all_current_comment %}
              <div class="col-lg-12">
               <div class="form-group row">
                  <div class="col-md-12">
                        <h5>跟进信息</h5>
                        <div class="row">
                          <div class="col-lg-8 offset-lg-1">
                            <div class="bs-component">
                              <ul class="list-group" id="comment-list">
                                  {% for current_comment in all_current_comment  %}
                                <li class="list-group-item well">
                                <div class="row">
                                <div class="col-md-2">
                                    <img class="app-sidebar__user-avatar" src="{{ MEDIA_URL }}{{ current_comment.user.image }}" width="32px" hight="32px">
                                    {{ current_comment.user.name }}
                                </div>
                                    <div class="col-md-8">
                                        {{ current_comment.comments }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ current_comment.add_time|date:'Y-m-d H:i:s' }}
                                    </div>
                                </div>
                                </li>
                                  {% endfor %}
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
               {% else %}
               <div hidden id="update" class="col-lg-12">
               <div class="form-group row">
                  <div class="col-md-12">
                        <h5>跟进信息</h5>
                        <div class="row">
                          <div class="col-lg-8 offset-lg-1">
                            <div class="bs-component">
                              <ul class="list-group" id="hide-list">
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
               {% endif %}
              <div class="col-lg-12">
                  <div class="form-group row">
                    <label for="solution_code" class="col-md-2 control-label">解决类型</label>
                       <div class="col-md-8">
                        <select class="form-control" id="solution_code" name="solution_code" {% if current_order.done %} disabled="disabled" {% endif %}>
                            {% for solution in all_resolution %}
                                <option value="{{ solution.id }}">{{ solution.resolution_code }}</option>
                            {% endfor %}
                        </select>
                       </div>
                  </div>
                  <div class="form-group row">
                  <label class="control-label col-md-2">解决方案</label>
                  <div class="col-md-8">
                    <textarea class="form-control" rows="4" name="solution" placeholder="Enter your address" {% if current_order.done %} disabled="disabled" {% endif %}>{{ current_order.resolution_notes }}</textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="tile-footer">
                <p class="mt-4 mb-4">
                    {% if current_order.done %}
                    <button class="btn btn-primary mr-2 mb-2" type="button" value="重开" id="reopen"><i class="fa fa-save"> 重开</i></button>
                    {% else %}
                     <button class="btn btn-primary mr-2 mb-2" type="submit" value="提交"><i class="fa fa-save"> 提交</i></button>
                    {% endif %}
            </div>
        </div>
      </div>
    </div>
      {% csrf_token %}
      </form>
{% endblock %}

{% block custem_script %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#add_comment').click(function () {
            if ($("#remark").val()==''){
                alert('跟进信息不能为空')
                return
            }
            remark= $("#remark").val();
                 $.ajax({
                  url:"{% url 'operation:add_comments'%}",
                  type:'POST',
                  data:{
                      csrfmiddlewaretoken:'{{ csrf_token }}',
                      comment:remark,
                      order_id:{{ current_order.id }}
                   },
                   success: function(data) {
                    if(data.status == 'fail'){
                        if(data.msg == '用户未登录'){
                            window.location.href="{% url 'users:login' %}";
                        }else{
                            alert(data.msg)
                        }

                    }else if(data.status == 'success'){

                     var temp= "<li class='list-group-item well'>"+
                            "<div class='row'>"+
                            '<div class="col-md-2">'+
                                '<img class="app-sidebar__user-avatar" src="'+ data.img + '" width="32px" hight="32px">'+
                                '&nbsp'+data.name+
                            '</div>'+
                                '<div class="col-md-8">'+
                                    data.comments+
                                '</div>'+
                                '<div class="col-md-2">'+
                                    data.add_time+
                                '</div>'+
                            '</div>'+
                            '</li>';
                        if({{ all_current_comment.count }})
                        {

                          $("#comment-list").prepend(temp);
                        }
                        else {
                            $("#update").removeAttr('hidden');
                            $("#hide-list").prepend(temp);
                        }
                        $("#remark").val('');
                    }
                   },
        })
    })
        $('#reopen').click(function () {
            $.ajax({
                  url:"{% url 'operation:reopen'%}",
                  type:'POST',
                  data:{
                      csrfmiddlewaretoken:'{{ csrf_token }}',
                      ord_id:{{  current_order.id  }},
                   },
                success: function(data) {
                    if(data == "success"){
                    window.location.href="{% url 'order:order_detail' current_order.id%}";
                    }
                 }
            })
        })
    })
    </script>
{% endblock %}
